#!/bin/bash -x
# This wrapper handle an overcloud deployment with current setup:
#  - Controller nodes
#  - Compute nodes
#  - Ceph storage
#  - Network isolation with bond and vlans
#  - Tenant isolation done with VXLAN
#  - Using and external NTP server
#
# --validation-errors-fatal and --validation-warnings-fatal will
# kill the deployment process if an error or a warning occurred
#
time openstack overcloud deploy \
--templates templates \
--stack {{ virt_env_ospd_vm_name }}-{{ virt_env_ospd_director_version }} \
--timeout 120 \
--control-scale 1 \
--compute-scale 1 \
--ceph-storage-scale 1 \
--control-flavor control \
--compute-flavor compute \
--ceph-storage-flavor ceph-storage \
--neutron-network-type vxlan \
--neutron-tunnel-types vxlan \
--neutron-vni-ranges 1:10000 \
--neutron-bridge-mappings datacentre:br-bond \
--ntp-server 0.north-america.pool.ntp.org \
--validation-errors-fatal \
--validation-warnings-fatal \
-e templates/environments/network-isolation.yaml \
-e templates/environments/storage-environment.yaml \
-e templates/environments/net-bond-with-vlans.yaml \
-e custom.yaml

#--control-scale {{ virt_env_ospd_control.vm_count }} \
#--compute-scale {{ virt_env_ospd_compute.vm_count }} \
#--ceph-storage-scale {{ virt_env_ospd_ceph.vm_count | default(0) }} \
