{
    "ssh-user": "{{ instackenv_pm_user }}",
    "ssh_key": "{{ virt_env_ospd_ssh_prv }}",
    "seed-ip": "",
    "power_manager": "nova.virt.baremetal.virtual_power_driver.VirtualPowerManager",
    "host-ip": "{{ instackenv_pm_addr }}",
    "arch": "{{ instackenv_arch }}",
    "nodes":[
{% for item in undercloud_nodes %}
{% if loop.first %}
        {
{% endif %}
{% if not loop.first %}
{
{% endif %}
            "name":"bm-{{ loop.index0 }}",
            "pm_type":"{{ hostvars['localhost']['instackenv_pm_type'] }}",
            "mac":[
                "{{ item.mac }}"
            ],
            "cpu":"{{ instackenv_cpu }}",
            "memory":"{{ instackenv_memory }}",
            "disk":"{{ instackenv_disk }}",
            "arch":"{{ instackenv_arch }}",
            "pm_user":"{{ instackenv_pm_user }}",
            "pm_password":"{{ instackenv_pm_password }}",
            "pm_addr":"{{ instackenv_pm_addr }}"
        }{% if not loop.last %}
,
        {% endif %}
{% endfor %}

    ]
}
