[DEFAULT]
image_path = /home/stack/images/
local_ip = 10.20.0.2/24
network_gateway = 10.20.0.1
## undercloud_public_vip = 10.20.0.3
## undercloud_public_vip = {{ undercloud_public_ip.stdout }}
undercloud_public_vip = {{ undercloud_external_ip.stdout }}
undercloud_admin_vip = 10.20.0.4
generate_service_certificate = true
certificate_generation_ca = local
## undercloud_service_certificate = /etc/pki/instack-certs/undercloud.pem
local_interface = bond0
network_cidr = 10.20.0.0/24
masquerade_network = 10.20.0.0/24
dhcp_start = 10.20.0.101
dhcp_end = 10.20.0.164
inspection_interface = br-ctlplane
inspection_iprange = 10.20.0.200,10.20.0.240
enable_mistral = true
enable_zaqar = true
enable_telemetry = false
enable_ui = true

